<section class="banner-slider-home">
    <div class="slider-home owl-carousel js-carousel" data-loop="true" data-arrows="false" data-items="1" data-margin="60">
        <div class="slider-item" style="background-image: url('images/home/home1-slider1.jpeg');">
            <div data-animation="fadeInLeft" class="banner-inner">
                <h6>
                    TOP
                </h6>
                <h6 class="mb-md-50">
                    TRENDY
                </h6>
                <h1 class="mb-md-50">
                    Fall Winter<br>Basic Collection
                </h1>
                <p class="mb-md-80">
                    There are many variations of passages<br>
                    of Lorem Ipsum available, but the majority have suffered.
                </p>
                <h6 style="font-weight: 800;"><a href="/shop">BUY NOW</a></h6>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Banner Home",
    "tag": "section",
    "blocks": [
        {
            "type": "heading",
            "name": "Banner image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Chose image"
                }
            ]
        }
    ]
}
{% endschema %}